<!DOCTYPE html>
<html lang="en">
<body>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">

<div class="" data-ng-controller="HeaderController">
    <ul class="navbar-nav nav">
        <li>
            <a class="navbar-brand" href="/">MEAN - A Modern Stack</a>
        </li>
        <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a href="#!/{{item.link}}">{{item.title}}</a>
        </li>
    </ul>
    <ul class="navbar-nav nav pull-right" data-ng-hide="global.authenticated">
        <li><a href="signup">Signup</a>
        </li>
        <li class="divider-vertical"></li>
        <li><a href="signin">Signin</a>
        </li>
    </ul>
    <ul class="navbar-nav nav pull-right" data-ng-show="global.authenticated">
    		<li data-ng-show="{{global.user.admin}}">
    			<a href="#!/users/admin">Admin</a>
    		</li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{global.user.name}} <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a href="/signout">Signout</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="pageheader">
      <h2><i class="fa fa-user"></i> People Directory</h2>
      <div class="breadcrumb-wrapper">

      </div>
    </div>

</body>
</html>

