{% extends '../layouts/theme.html' %}

{% block pageheader %}
      <h2><i class="fa fa-user"></i> hire fullstack <span> Find your next Fullstack developer... </span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li><a href="index.html">Search</a></li>
          <li class="active">Profile</li>
        </ol>
      </div>
{% endblock %}

{% block content %}
	<div> Hello, {{ user.name }} This is the admin page. </div>
	<div>
	<table>
	{% for developer in users %}
		<tr>
			<td>{{developer.name}}</td>
			<td><button value="{{developer.id}}" class="btn btn-md btn-primary approve" id='approve'>Approve</button></td>
			<td><button value="{{developer.id}}" class="btn btn-md btn-danger deny" id='deny'>Deny</button></td>
		</tr>
	{% endfor %}
	</table>
	</div>
	<h1></h1>
{% endblock %}

{% block js_footer %}
<script>
	$(document).ready(function(){
		$('tr').click(function(event){
			var button = $(event.target);
			var data = $(event.target).val()
			var type = $(event.target).attr('id');
			console.log(data);
			if (type==="approve"){
				$.post('/users/admin/approve', data, function(result, status, xhr){
					console.log(result, status, xhr); //remove when working
				});
				console.log(button.parent())
				button.parent().next().remove();
				button.replaceWith('<p>Approved</p>');
			} else if (type==="deny"){
				$.post('/users/admin/deny', data, function(result, status, xhr){
					console.log(result, status, xhr); //remove when working
				});
				button.parent().prev().remove();
				button.replaceWith('<p>Denied</p>');
			} else {
				console.log('nope');
			}
			// $(event.target).remove()
		});
	});
</script>
{% endblock %}