{% extends '../layouts/theme.html' %}

{% block content %}
	<div> Hello, {{ user.name }}. This is the admin page. </div>
	<div>
<a href="/users/admin/globalVisited"><h3>Global Tracking Events Page</h3></a>
<a href="/users/admin/classSort"><h3>Class Sorting Page</h3></a>
<h3> New users awaiting approval. </h3>
{% if users.length > 0 %}
	<table>
	{% for developer in users %}
		<tr>
			<td>{{developer.name}}</td>
			<td><button value="{{developer.id}}" class="btn btn-md btn-primary approve" id='approve'>Approve</button></td>
			<td><button value="{{developer.id}}" class="btn btn-md btn-danger deny" id='deny'>Deny</button></td>
			{% if developer.roles.indexOf('admin') != -1 %}
			<td><h4>Admin</h4></td>
			{% endif %}
		</tr>
	{% endfor %}
	</table>
	</div>
	<h1></h1>
	{% else %}
	<h5> There are currently no user profiles pending approval.</h5>
	{% endif %}
{% endblock %}

{% block js_footer %}
<script>
	$(document).ready(function(){
		$('tr').click(function(event){
			var button = $(event.target);
			var data = $(event.target).val()
			var type = $(event.target).attr('id');
			console.log(data);
			if (type==="approve"){
				$.post('/users/admin/approve', data, function(result, status, xhr){
					console.log(result, status, xhr); //remove when working
				});
				console.log(button.parent())
				button.parent().next().remove();
				button.replaceWith('<p>Approved</p>');
			} else if (type==="deny"){
				$.post('/users/admin/deny', data, function(result, status, xhr){
					console.log(result, status, xhr); //remove when working
				});
				button.parent().prev().remove();
				button.replaceWith('<p>Denied</p>');
			} else {
				console.log('nope');
			}
			// $(event.target).remove()
		});
	});
</script>
{% endblock %}
