{% extends 'layouts/cover.html' %}

{% block pagecontent %}
  <div class="inner cover">
  
  <style>
    #agreement_text {
      background: rgba(0,0,0,.4);
      padding: 20px;
      text-align: left;
    }
    p.lead {
      font-size: 18px;
    }
  </style>
  <h1 class="cover-heading">Fullstack's Placement Agreement</h1>
  <p class="lead">Before meeting our graduating developers, please agree to our placement agreement.</p>
  <div id='agreement_text'>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    <br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    <br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </div>
  <br>
  <p>
    By clicking Agree, you are agreeing to Fullstack Academy's Placement Agreement on your company's behalf.<br><br>
    <a href="/agreement?agree=yes" class="btn btn-lg btn-primary">I Agree</a>
  </p>
  </div>
{% endblock %}

{% block content %}
    <script type="text/javascript">
        window.user = {{user|safe}};
    </script>
{% endblock %}
