{% extends 'layouts/theme.html' %}



{% block pageheader %}


      <h2><i class="fa fa-user"></i> <a href="/">hire fullstack </a> <span> Find your next Fullstack developer... </span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">Search</a></li>
          <li><a href="/profile/{{req.user._id.toString()}}"> Profile</a></li>
        </ol>
      </div>

{% endblock %}

{% block content%}

<div class="contentpanel" ng-controller="DevelopersController">

  <div>

    <div>
      <form class="searchform" action="index.html" method="post">
        <input type="text" class="form-control" name="keyword" placeholder="Search by name" ng-model="search.name"/>

      </form>
    </div>

    <div>
      <form class="searchform" action="index.html" method="post">
        <input type="text" class="form-control" name="keyword" placeholder="Search by location" ng-model="search.location"/>
      </form>
    </div>


    <br><br><br><br>

      <div class="people-list">
        <div class="row">

          <div ng-repeat="developer in developers | filter: search" ng-cloak class ="col-md-6">
          <div >

            <div class="people-item">
              <div class="media">
                <a href="#" class="pull-left"></a>

                <div class="media-body">
                  <div class="pull-right"> <img class="img-responsive" src=[[developer.linkedin.pictureUrl]]> </div>
                  <a href="/profile/[[developer._id.toString()]]">
                  <h4 class="person-name">[[developer.name]]</h4> </a>

                  <div class="text-muted"><i class="fa fa-briefcase"></i> [[developer.linkedin.headline]]</a></div>


                   <div class="text-muted" ng-if="developer.location"><i class="fa fa-map-marker" ></i>
                    <span ng-repeat="location in developer.location " >[[location]] </span>
                  </div>
                  <ul class="social-list">
                    <li><a href="[[developer.github.html_url]]"class="tooltips" data-toggle="tooltip" data-placement="top" title="github"><i class="fa fa-github"></i></a></li>
                  <li><a href="[[developer.linkedin.siteStandardProfileRequest.url]]"  class="tooltips" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>

                  </ul>
                  <p > Summary: [[developer.linkedin.summary]] </p>

                </div>
              </div>
            </div>
          </div><!-- col-md-6 -->



        </div><!-- row -->
      </div><!-- people-list -->

    </div><!-- Developer Controller -->
  </div><!-- contentpanel -->
</div>

{% endblock%}


