{% extends 'layouts/theme.html' %}



{% block pageheader %}


      <h2><i class="fa fa-user"></i> <a href="/">hire fullstack </a> <span> Find your next Fullstack developer... </span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">Search</a></li>
          <li><a href="/profile/{{req.user._id.toString()}}"> Profile</a></li>
        </ol>
      </div>

{% endblock %}

{% block content%}

    <div class="contentpanel" data-ng-view>

      <div data-ng-controller="DevelopersController" ng-init="find()" >

      <div class="people-list">
        <div class="row">
          {% for developer in developers %}
          <div class="col-md-6">
            <div class="people-item">
              <div class="media">
                <a href="#" class="pull-left"></a>

                <div class="media-body">
                  <div class="pull-right"> <img class="img-responsive" src="{{developer.linkedin.pictureUrl}}"> </div>
                  <a href="/profile/{{developer._id.toString()}}">
                  <h4 class="person-name">{{developer.name}}</h4> </a>

                  <div class="text-muted"><i class="fa fa-briefcase"></i> {{developer.linkedin.headline}}</a></div>
                  <ul class="social-list">
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-envelope-o"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div><!-- col-md-6 -->
          {% endfor %}


        </div><!-- row -->
      </div><!-- people-list -->

    </div><!-- contentpanel -->


{% endblock%}


