<div class="form-group">
  <label class="col-sm-3 control-label">Input Tags</label>
	  <div class="col-sm-7">
	    <input name="tags" id="tags" class="form-control" value="foo,bar,baz" style="display: none;"><div id="tags_tagsinput" class="tagsinput" style="width: auto; height: 100px;"><span class="tag"><span>efer&nbsp;&nbsp;</span><a href="#" title="Removing tag">x</a></span><div id="tags_addTag"><input id="tags_tag" value="" data-default="add a tag" style="color: rgb(102, 102, 102); width: 68px;"></div><div class="tags_clear"></div></div>
	  </div>
</div>