<div class='mini-profile'>
  <div class='info'>
    <img class='profile-img' src="http://m.c.lnkd.licdn.com/mpr/mprx/0_oCf8Sdu-c4xI9h1EeipPSE2gvRHoq5CEHhR0SEw2EOpRI3voQk0uio0GUveqBC_QITDYCDJxk6vm" />
    <h3 class='mini-header'>Howard Jin Kim</h3>
    <h4 class='extra-info'>New York, NY
	    	<span class='mini-profile-span'>Willing to relocate</span>
    </h4>

	    <h3 class="social-icons">
		    	<a href="https://github.com/kimhowardj"><span class="fa fa-github"></span></a>
		    	<a href="https://twitter.com/kimhowardj"><span class="fa fa-twitter"></span></a>
	    </h3>

    <p>
	    <a class="btn btn-success" id="follow">
	      <i class="fa fa-check-circle-o"></i> I'm interested
	    </a>
    </p>

    	<p><a href="/profile/edit" class="btn btn-warning">Edit My Profile</a></p>
  </div>
</div>
<!-- space for sidebar -->
<div class="col-sm-3" >
</div>
<!-- /end space for sidebar -->