{% extends 'layouts/theme.html' %}

{% block pageheader %}
<h2><i class="fa fa-user"></i> <a href="/"> hire fullstack </a><span> Find your next Fullstack developer... </span></h2>
<div class="breadcrumb-wrapper">
	<span class="label">You are here:</span>
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="/interested">Favorites</a></li>
		<li><a href="/developers">Search</a></li>
		{%if req.developers._id.toString() == req.params.id %}
		<li class="active">Profile</li>
		{% else %}
		<li><a href="/profile/{{req.developers._id.toString()}}">Profile</a></li>
		{% endif %}
	</ol>
</div>
<style>
	.floatLeft {
		float: left;
	}

</style>
{% endblock %}


{% block content %}
<!-- space for sidebar -->
<div class="col-sm-3">

</div>
<!-- /end space for sidebar -->

<!-- content panel -->
<div class="col-sm-9">
	<iframe id="userVid" width="725" height="480" src="//www.youtube.com/embed/HyophYBP_w4?autoplay=0&controls=0&showinfo=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
	<div class="text-muted"><h3>ABOUT</h3></div>
	<div class="panel panel-default panel-timeline">
			<div class="media">
				<div class="media-body">
					<h2>{{user.name}}</h2>
					<div class="panel-body">
						<h4>New York, NY</h4>
						<h5 class='text-muted'>"Some really inspirational quotes will get you jobs if you put them here. Also Jisan will probably break this soon. Or already broke it. It's just a matter of time."</h5>
					</div>
				</div>
			</div>
	</div>

	<div class="text-muted"><h3>PROJECTS</h3></div>

<!-- insert PROJECT panels swig for loop BEGIN here -->

	<div class="panel panel-default panel-timeline">
		<div class="panel-heading">
			<div class="media">
				<div class="media-body">
					<div class="panel-body">
						<div class="media">
								<img alt="" src="images/photos/media4.png" class="media-object pull-left">
								<div class="media-body">
									<h4><a href="">Project 1</a></h4>
									<h5><strong>One line pitch, e.g., 'snapchat for legal docs'</strong></h5>
									<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
							<div class="timeline-btns">
								<div class="pull-left">
									<small class="text-muted">FRONT END DEVELOPER</small>
								</div>
								<div class="pull-right">
									<small class="text-muted">AngularJS, MongoDB, Express, HTML, CSS, Node.js, Git</small>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- insert PROJECTS swig for loop END here  -->

<div class="text-muted"><h3>WORK EXPERIENCE</h3></div>

<!-- insert WORK EXPERIENCE swig for loop BEGIN here  -->

	<div class="panel panel-default panel-timeline">
		<div class="panel-heading">
			<div class="media">
				<div class="media-body">
					<div class="panel-body">
						<div class="media">
								<div class="media-body">
									<h4>HireFullStack</h4>
									<h5><strong>Junior JavaScript Developer</strong></h5>
									<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
							<div class="timeline-btns">
								<div>
									<small class="text-muted">Bonus info: I beat Migi in ping pong all day every day.</small>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- insert WORK EXPERIENCE swig for END loop here -->

<div class="text-muted"><h3>EDUCATION</h3></div>

<!-- insert EDUCATION swig loop BEGIN here -->

	<div class="panel panel-default panel-timeline">
		<div class="panel-heading">
			<div class="media">
				<div class="media-body">
					<div class="panel-body">
						<div class="media">
								<div class="media-body">
									<h4>FullStack Academy of Code</h4>
									<h5><strong>Learning to be a fullstack developer</strong></h5>
									<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
							<div class="timeline-btns">
								<div>
									<small class="text-muted">Bonus info: Root Beer is gross.</small>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- insert EDUCATION swig loop END here -->

<div class="text-muted"><h3>ADDITIONAL INFORMATION</h3></div>

<!-- insert ADDITIONAL INFO swig loop BEGIN here -->

	<div class="panel panel-default panel-timeline">
		<div class="panel-heading">
			<div class="media">
				<div class="media-body">
					<div class="panel-body">
						<div class="media">
								<div class="media-body">
									<h4>I Like Turtles</h4>
									<h5><strong>Bachelor's in Other Relevant Things</strong></h5>
									<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
							<div class="timeline-btns">
								<div>
									<small class="text-muted">Bonus info: Something cool.</small>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- insert ADDITIONAL INFO swig loop END here -->


</div>

<!-- end content panel -->
{% endblock %}

<script>
jQuery(document).ready(function() {
	jQuery('#follow').click(function(){
		jQuery.ajax({
			url:'/addfavorite',
			type: 'POST',
			async: true,
		})

	})
});
</script>
