{% extends 'layouts/theme.html' %}

{% block ng-controller %}ProfileEditCtrl{% endblock %}

{% block pageheader %}
      <h2><i class="fa fa-pencil"></i> Profile Edit <span>Subtitle goes here...</span></h2>

{% endblock %}

{% block content %}
			<!-- Personal Info form -->
<div class="row">
  <div class="col-lg-3 col-sm-3 sidebar">
    <div class="sidebar-inner">
      <li>Personal Info</li>
      <button class="btn btn-primary" ng-click="saveCandidate()">Save Profile</button>
    </div>



  </div><!-- sidebar -->


  <div class="col-lg-9">
    <form name="basicForm" ng-submit="submitForm(basicForm.$valid)" class="form-horizontal form-bordered" novalidate>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Personal Info</h1>
          <p>Please provide your name, email address (won't be published) and a summary.</p>
        </div>
        <div class="panel-body">

          <div class="form-group">
            <label class="col-sm-3 control-label">Profile Picture <span class="asterisk">*</span></label>
            <div class="col-sm-9">
              <input ng-model="user.name" type="text" name="name" class="form-control" placeholder="Type your name..." required />
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label">Name <span class="asterisk">*</span></label>
            <div class="col-sm-9">
              <input ng-model="user.name" type="text" name="name" class="form-control" placeholder="Type your name..." required />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Email <span class="asterisk">*</span></label>
            <div class="col-sm-9">
              <input ng-model="user.email" type="email" name="email" class="form-control" placeholder="Type your email..." required />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Headline</label>
            <div class="col-sm-9">
              <input ng-model="user.linkedin.headline" type="text" name="headline" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Summary </label>
            <div class="col-sm-9">
              <textarea ng-model="user.linkedin.summary" rows="5" class="form-control" placeholder="Type your comment..." required></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Skills <span class="asterisk">*</span></label>
            <div class="col-sm-9">
              <textarea ng-model="user.linkedin.summary" rows="5" class="form-control" placeholder="Type your comment..." required></textarea>
            </div>
          </div>

        </div><!-- panel-body -->
      </div><!-- panel -->


      <!-- Work Experience form -->

          <div class="panel panel-default" novalidate>

              <div class="panel-heading">
                <h1 class="panel-title">Work Experience</h1>
                <p>Foo is king.</p>
              </div>

              <div class="panel-body">

                <div class="table-responsive">
                  <table class="table mb30">
                    <thead>
                      <tr>
                        <th>Company</th>
                        <th>Position</th>
                        <th>Start</th>
                        <th>End</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="work in user.work_experiences">
                        <td>[[work.company.name]]</td>
                        <td>[[work.title]]</td>
                        <td>[[work.startDate | workDate ]]</td>
                        <td>[[work.endDate | workDate]]</td>
                        <td class="table-action">
                          <a href="" ng-click="removeWork($index)" class="delete-row"><i class="fa fa-trash-o"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>


              </div><!-- panel-body -->

          </div><!-- panel -->

      <!-- end work experience form -->


      <!-- Education form -->
      <div class="row">

        <div class="col-md-12">
          <form id="basicForm" action="form-validation.html" class="form-horizontal form-bordered">
          <div class="panel panel-default">

              <div class="panel-heading">
                <h1 class="panel-title">Education</h1>
                <p>Foo is king.</p>
              </div>

              <div class="panel-body">
                <div class="form-group">
                  <label class="col-sm-3 control-label">College/University<span class="asterisk">*</span></label>
                  <div class="col-sm-9">
                    <input type="text" name="name" class="form-control" placeholder="Type your school..." required />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Degree<span class="asterisk">*</span></label>
                  <div class="col-sm-9">
                    <input type="text" name="name" class="form-control" placeholder="Type your school..." required />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Field of Study<span class="asterisk">*</span></label>
                  <div class="col-sm-9">
                    <input type="text" name="name" class="form-control" placeholder="Type your school..." required />
                  </div>
                </div>
              </div><!-- panel-body -->



          </div><!-- panel -->



          </form>
        </div><!-- col-md-6 -->
      </div>
      <!-- end education form -->







          </form>
        </div><!-- col-md-6 -->
      </div>
      <!-- end personal info form -->

{% endblock %}
