{% extends 'layouts/theme.html' %}

{% block pageheader %}
      <h2><i class="fa fa-pencil"></i> Profile Edit <span>Subtitle goes here...</span></h2>

{% endblock %}

{% block content %}

<div class="row" ng-controller="ProfileEditCtrl">

	<!-- Sidebar -->
  <div class="col-lg-3 col-sm-3 sidebar">
    <div class="sidebar-inner">
      <li>Personal Info</li>
      <button type="submit" class="btn btn-primary">Save Profile</button>
    </div>
  </div><!-- sidebar -->


  <div class="col-lg-9">

    <form name="basicForm" ng-submit="submitForm(basicForm.$valid)" class="form-horizontal form-bordered" novalidate>

      <div class="panel panel-default">

        <div class="panel-heading">
          <h1 class="panel-title">Personal Info</h1>
          <p>Please provide your name, email address (won't be published) and a summary.</p>
        </div>

        <div class="panel-body">

          <div class="form-group file-picker" data-attachment-path="/api/attachments" data-resource='user' data-attachment='profile_picture'>
            <label class="col-sm-3 control-label">Profile Picture <span class="asterisk">*</span></label>
            <div class="col-sm-9">
              <div ng-hide='user.profile_picture'>
                <img src="holder.js/200x200"><br/><br/>
                <button ng-click='pickFiles($event)'>Add Picture</button>
              </div>
              <div ng-show='user.profile_picture'>
                <img ng-src="[[user.profile_picture]]/convert?w=200&h=200&fit=crop&align=faces" /><br /><br />
                <button ng-click='pickFiles($event)'>Change Picture</button>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label">Name <span class="asterisk">*</span></label>
            <div class="col-sm-9">
              <input ng-model="user.name" type="text" name="name" class="form-control" placeholder="Type your name..." required />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Email <span class="asterisk">*</span></label>
            <div class="col-sm-9">
              <input ng-model="user.email" type="email" name="email" class="form-control" placeholder="Type your email..." required />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Headline</label>
            <div class="col-sm-9">
              <input ng-model="user.linkedin.headline" type="text" name="headline" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Summary </label>
            <div class="col-sm-9">
              <textarea ng-model="user.linkedin.summary" rows="5" class="form-control" placeholder="Type your comment..." required></textarea>
            </div>
          </div>

					<div class="form-group">
					  <label class="col-sm-3 control-label">Skills</label>
						  <div class="col-sm-7">
						    <input name="tags" id="tags" class="form-control" value="foo,bar,baz" style="display: none;">
						    <div id="tags_tagsinput" class="tagsinput" style="width: auto; height: 100px;">

						    	<span ng-repeat="tag in skills" class="tag">
						    		<span>[[ tag.skill.name ]]</span>
						    		<a href="" ng-click="removeTag($index)" title="Removing tag">x</a>
						    	</span>

						    	<div id="tags_addTag">
						    		<input id="tags_tag" value="" data-default="add a tag" style="color: rgb(102, 102, 102); width: 68px;" ng-model="current_tag" ng-keypress="addTag($event)">
						  		</div>
						    	<div class="tags_clear"></div>

						    </div>
						  </div>
					</div>

          <div class="form-group file-picker" data-extensions="['.pdf', '.doc', '.docx']" data-attachment-path="/api/attachments" data-resource='user' data-attachment='resume'>
            <label class="col-sm-3 control-label">Resume (PDF/DOC) <span class="asterisk">*</span></label>
            <div class="col-sm-9">
              <div ng-hide='user.resume'>
                <button ng-click='pickFiles($event)'>Add Resume</button>
              </div>
              <div ng-show='user.resume'>
                <a href="[[user.resume]]"><span class="fa fa-file-text"></span> Resume</a><br /><br />
                <button ng-click='pickFiles($event)'>Change Resume</button>
              </div>
            </div>
          </div>
					<button ng-disabled="basicForm.$invalid" type="submit" class="btn btn-primary">Save Profile</button>
        </div><!-- panel-body -->

      </div><!-- panel -->

    </form>


		<!-- Work Experience form -->
		<div class="panel panel-default" novalidate>

		    <div class="panel-heading">
		      <h1 class="panel-title">Work Experience</h1>
		      <p>Foo is king.</p>
		    </div>

		    <div class="panel-body">

		      <div class="form-inline">
		        <div class="form-group">
		          <label class="sr-only" for="">Company Name</label>
		          <input type="text" class="form-control form-company" ng-model="new_work.company.name" placeholder="Company Name">
		        </div>
		        <div class="form-group">
		          <label class="sr-only" for="">Title </label>
		          <input type="text" class="form-control form-date" ng-model="new_work.title" placeholder="Title">
		        </div>
		        <div class="form-group">
		          <label class="sr-only" for="">Start Date</label>
		          <input type="text" class="form-control form-date" datepicker-popup ng-model="new_work.startDate" placeholder="Start Date">
		        </div>
		        <div class="form-group">
		          <label class="sr-only" for="">End Date</label>
		          <input type="text" class="form-control form-date" datepicker-popup ng-model="new_work.endDate" placeholder="End Date">
		        </div>
		        <a href="" ng-click="addWork()" class="delete-row"><i class="fa fa-plus"></i></a>
		      </div>

		      <div class="table-responsive">
		        <table class="table mb30">
		          <tbody>
		            <tr ng-repeat="work in user.work_experiences | orderBy:'startDate.year':true">
		              <td>[[work.company.name]]</td>
		              <td>[[work.title]]</td>
		              <td>[[work.startDate | workDate ]]</td>
		              <td>[[work.endDate | workDate]]</td>
		              <td class="table-action">
		                <a href="" ng-click="removeWork($index)" class="delete-row"><i class="fa fa-trash-o"></i></a>
		              </td>
		            </tr>
		          </tbody>
		        </table>
		      </div>

		    </div><!-- panel-body -->

		</div><!-- panel -->
		<!-- end work experience form -->



		<!-- Education form -->
		<div class="panel panel-default" novalidate>

		    <div class="panel-heading">
		      <h1 class="panel-title">Education</h1>
		      <p>Foo is king.</p>
		    </div>

		    <div class="panel-body">
		      <div class="form-inline">
		        <div class="form-group">
		          <label class="sr-only" for="">College/University</label>
		          <input type="text" class="form-control form-company" ng-model="new_education.schoolName" placeholder="College Name">
		        </div>
		        <div class="form-group">
		          <label class="sr-only" for="">Field of Study</label>
		          <input type="text" class="form-control form-date" ng-model="new_education.fieldOfStudy" placeholder="Study">
		        </div>
		        <div class="form-group">
		          <label class="sr-only" for="">Start Date</label>
		          <input type="text" class="form-control form-date" datepicker-popup ng-model="new_education.startDate" placeholder="Start Date">
		        </div>
		        <div class="form-group">
		          <label class="sr-only" for="">End Date</label>
		          <input type="text" class="form-control form-date" datepicker-popup ng-model="new_education.endDate" placeholder="End Date">
		        </div>
		        <a href="" ng-click="addEducation()" class="delete-row"><i class="fa fa-plus"></i></a>
		      </div>

		      <div class="table-responsive">
		        <table class="table mb30">
		          <tbody>
		            <tr ng-repeat="college in user.educations | orderBy:'startDate.year':true">
		              <td>[[college.schoolName]]</td>
		              <td>[[college.fieldOfStudy]]</td>
		              <td>[[college.startDate | workDate ]]</td>
		              <td>[[college.endDate | workDate]]</td>
		              <td class="table-action">
		                <a href="" ng-click="removeEducation($index)" class="delete-row"><i class="fa fa-trash-o"></i></a>
		              </td>
		            </tr>
		          </tbody>
		        </table>
		      </div>

		    </div><!-- panel-body -->

		</div><!-- panel -->
		<!-- end education form -->




		<!-- Projects -->
		<div class="panel panel-default">

		    <div class="panel-heading">
		      <h1 class="panel-title">Project</h1>
		      <p>Foo is king.</p>
		    </div>

		    <div class="panel-body">

		      <div class="form-horizontal">
		        <div class="form-group">
		          <label class="col-sm-3 control-label">Project Name <span class="asterisk">*</span></label>
		          <div class="col-sm-9">
		          	<input type="text" class="form-control" ng-model="new_project.name" placeholder="Project Name">
		          </div>
		        </div>
		        <div class="form-group">
		          <label class="col-sm-3 control-label">GitHub URL <span class="asterisk">*</span></label>
		          <div class="col-sm-9">
		          	<input type="url" class="form-control" ng-model="new_project.githubUrl" placeholder="GitHub URL">
		          </div>
		        </div>
						<div class="form-group">
		          <label class="col-sm-3 control-label">Short Pitch <span class="asterisk">*</span></label>
		          <div class="col-sm-9">
		          	<input type="text" class="form-control" ng-model="new_project.pitch" placeholder="Select Image">
		          </div>
		        </div>
			      <div class="form-group">
						  <label class="col-sm-3 control-label">Technology Stack</label>
							  <div class="col-sm-7">
							    <input name="tags" id="tags" class="form-control" value="foo,bar,baz" style="display: none;">
							    <div id="tags_tagsinput" class="tagsinput" style="width: auto; height: 100px;">

							    	<span ng-repeat="tag in projectTags" class="tag">
							    		<span>[[ tag ]]</span>
							    		<a href="" ng-click="removeProjectTag($index)" title="Removing tag">x</a>
							    	</span>

							    	<div id="tags_addTag">
							    		<input id="tags_tag" value="" data-default="add a tag" style="color: rgb(102, 102, 102); width: 68px;" ng-model="currentTag" ng-keypress="addProjectTag($event)">
							  		</div>
							    	<div class="tags_clear"></div>

							    </div>
							  </div>
						</div>
		        <div class="form-group">
		          <label class="col-sm-3 control-label">Description <span class="asterisk">*</span></label>
		          <div class="col-sm-9">
		          	<input type="text" class="form-control" ng-model="new_project.description" placeholder="Describe your project">
		          </div>
		        </div>
		        <div class="form-group">
		          <label class="col-sm-3 control-label">Images <span class="asterisk">*</span></label>
		          <div class="col-sm-9">
		          	<input type="file" class="form-control" ng-model="new_project.images" placeholder="Select Image">
		          </div>
		        </div>
		        <div class="form-group">
		          <label class="col-sm-3 control-label">Video <span class="asterisk">*</span></label>
		          <div class="col-sm-9">
		          	<input type="file" class="form-control" ng-model="new_project.video" placeholder="Video">
		          </div>
		        </div>
		        <a href="" ng-click="addProject()" class="delete-row"><i class="fa fa-plus"></i></a>

		      </div>

		    </div><!-- panel-body -->
		    <div ng-repeat="project in user.projects" class="panel-body">
		    	<h1>[[ project.name ]]</h1>
		    	<a href="[[ project.githubUrl ]]">[[ project.githubUrl ]]</a>
<!-- 		    	<img ng-repeat="img in user.projects.images" src="[[ project.images ]]" class="img-responsive"> -->
					<p>[[ project.description ]]</p>
					<h3>[[ project.pitch ]]</h3>
					<h6 ng-repeat="tag in project.tags">[[ tag ]]</h6>
		    	<a href="" ng-click="removeProject($index)" class="delete-row"><i class="fa fa-trash-o"></i></a>
		    </div>

		</div><!-- panel -->
		<!-- end projects form -->




  </div>
</div>
{% endblock %}
