{% extends 'layouts/theme.html' %}

{% block pageheader %}
      <h2><i class="fa fa-pencil"></i> Profile Edit <span>Subtitle goes here...</span></h2>

{% endblock %}

{% block content %}

<div class="row" ng-controller="ProfileEditCtrl">

  <!-- Sidebar -->
  <div class="col-lg-3 col-sm-3 sidebar">
  </div><!-- sidebar -->


  <div class="col-lg-9">

    <form name="basicForm" ng-submit="submitForm(basicForm.$valid)" class="form-horizontal form-bordered" novalidate>

      <div class="panel panel-default">

        <div class="panel-heading">
          <h1 class="panel-title">Personal Info</h1>
          <p>Please provide your name, email address (won't be published) and a summary.</p>
        </div>

        <div class="panel-body">

          <div class="form-group file-picker" data-attachment-path="/api/attachments" data-resource='user' data-attachment='profile_picture' data-crop-size='200x200'>
            <label class="col-sm-3 control-label">Profile Picture <span class="asterisk">*</span></label>
            <div class="col-sm-9">
              <div ng-hide='user.profile_picture'>
                <img src="holder.js/200x200"><br/><br/>
                <button ng-click='pickFiles($event)'>Add Picture</button>
              </div>
              <div ng-show='user.profile_picture'>
                <img class="img-responsive col-md-5" ng-src="[[user.profile_picture.crops._200x200]]" />
                <br /><br />
                <button ng-click='pickFiles($event)'>Change Picture</button>
              </div>
            </div>
          </div>

          <div class="form-group file-picker" data-attachment-path="/api/attachments" data-resource='user' data-attachment='funny_profile_picture' data-crop-size='200x200'>
            <label class="col-sm-3 control-label">Funny Profile Picture <span class="asterisk">*</span></label>
            <div class="col-sm-9">
              <div ng-hide='user.funny_profile_picture'>
                <img src="holder.js/200x200"><br/><br/>
                <button ng-click='pickFiles($event)'>Add Picture</button>
              </div>
              <div ng-show='user.funny_profile_picture'>

                <img class="img-responsive col-md-5" ng-src="[[user.funny_profile_picture.crops._200x200]]" />
                <button ng-click='pickFiles($event)'>Change Picture</button>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label">Name <span class="asterisk">*</span></label>
            <div class="col-sm-9">
              <input ng-model="user.name" type="text" name="name" class="form-control" placeholder="Type your name..." required />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Video URL</label>
            <div class="col-sm-9">
              <input ng-model="user.video_url" type="text" name="video_url" placeholder="//www.youtube.com/embed/ab3NscEJ80s" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Email <span class="asterisk">*</span></label>
            <div class="col-sm-9">
              <input ng-model="user.email" type="email" name="email" class="form-control" placeholder="Type your email..." required />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Headline</label>
            <div class="col-sm-9">
              <input ng-model="user.linkedin.headline" type="text" name="headline" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Location <span class="asterisk">*</span></label>
            <div class="col-sm-9">
              <input ng-model="user.location" type="text" name="location" class="form-control" />
              <div class="ckbox ckbox-default">
                <input ng-model="user.relocate" type="checkbox" value="1" id="checkboxDefault" checked="checked">
                <label for="checkboxDefault">Willing to relocate?</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Twitter URL</label>
            <div class="col-sm-9">
              <input ng-model="user.twitter_url" type="text" name="twitter_url" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Github URL</label>
            <div class="col-sm-9">
              <input ng-model="user.github_url" type="text" name="github_url" class="form-control" />
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label">Summary </label>
            <div class="col-sm-9">
              <textarea ng-model="user.linkedin.summary" rows="5" class="form-control" placeholder="Type your comment..." required></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Skill Tags </label>
            <div class="col-sm-9">
              <textarea ng-model="user.skills" rows="5" class="form-control" placeholder="Comma Separated Values... like 'Angular, Node.js, Express'"></textarea>
            </div>
          </div>

          <div class="form-group file-picker" data-extensions="['.pdf', '.doc', '.docx']" data-attachment-path="/api/attachments" data-resource='user' data-attachment='resume'>
            <label class="col-sm-3 control-label">Resume (PDF/DOC) <span class="asterisk">*</span></label>
            <div class="col-sm-9">
              <div ng-hide='user.resume'>
                <button ng-click='pickFiles($event)'>Add Resume</button>
              </div>
              <div ng-show='user.resume'>
                <a href="[[user.resume]]"><span class="fa fa-file-text"></span> Resume</a><br /><br />
                <button ng-click='pickFiles($event)'>Change Resume</button>
              </div>
            </div>
          </div>
          <button ng-disabled="basicForm.$invalid" type="submit" class="btn btn-primary">Save Profile</button>
        </div><!-- panel-body -->

      </div><!-- panel -->

    </form>


    <!-- Work Experience form -->
    <div class="panel panel-default" novalidate>

        <div class="panel-heading">
          <h1 class="panel-title">Work Experience</h1>
          <p>Foo is king.</p>
        </div>

        <div class="panel-body">

          <div class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="">Company Name</label>
              <input type="text" class="form-control form-company" ng-model="new_work.company.name" placeholder="Company Name">
            </div>
            <div class="form-group">
              <label class="sr-only" for="">Title </label>
              <input type="text" class="form-control form-date" ng-model="new_work.title" placeholder="Title">
            </div>
            <div class="form-group">
              <label class="sr-only" for="">Start Date</label>
              <input type="text" class="form-control form-date" datepicker-popup ng-model="new_work.startDate" placeholder="Start Date">
            </div>
            <div class="form-group">
              <label class="sr-only" for="">End Date</label>
              <input type="text" class="form-control form-date" datepicker-popup ng-model="new_work.endDate" placeholder="End Date">
            </div>
            <a href="" ng-click="addWork()" class="delete-row"><i class="fa fa-plus"></i></a>
          </div>

          <div class="table-responsive">
            <table class="table mb30">
              <tbody>
                <tr ng-repeat="work in user.work_experiences | orderBy:'startDate.year':true">
                  <td>[[work.company.name]]</td>
                  <td>[[work.title]]</td>
                  <td>[[work.startDate | workDate ]]</td>
                  <td>[[work.endDate | workDate]]</td>
                  <td class="table-action">
                    <a href="" ng-click="removeObj(work, user.work_experiences, Work)" class="delete-row"><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div><!-- panel-body -->

    </div><!-- panel -->
    <!-- end work experience form -->



    <!-- Education form -->
    <div class="panel panel-default" novalidate>

        <div class="panel-heading">
          <h1 class="panel-title">Education</h1>
          <p>Foo is king.</p>
        </div>

        <div class="panel-body">
          <div class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="">College/University</label>
              <input type="text" class="form-control form-company" ng-model="new_education.schoolName" placeholder="College Name">
            </div>
            <div class="form-group">
              <label class="sr-only" for="">Field of Study</label>
              <input type="text" class="form-control form-date" ng-model="new_education.fieldOfStudy" placeholder="Study">
            </div>
            <div class="form-group">
              <label class="sr-only" for="">Start Date</label>
              <input type="text" class="form-control form-date" datepicker-popup ng-model="new_education.startDate" placeholder="Start Date">
            </div>
            <div class="form-group">
              <label class="sr-only" for="">End Date</label>
              <input type="text" class="form-control form-date" datepicker-popup ng-model="new_education.endDate" placeholder="End Date">
            </div>
            <a href="" ng-click="addEducation()" class="delete-row"><i class="fa fa-plus"></i></a>
          </div>

          <div class="table-responsive">
            <table class="table mb30">
              <tbody>
                <tr ng-repeat="college in user.educations | orderBy:'startDate.year':true">
                  <td>[[college.schoolName]]</td>
                  <td>[[college.fieldOfStudy]]</td>
                  <td>[[college.startDate | workDate ]]</td>
                  <td>[[college.endDate | workDate]]</td>
                  <td class="table-action">
                    <a href="" ng-click="removeObj(college, user.educations, Education)" class="delete-row"><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div><!-- panel-body -->

    </div><!-- panel -->
    <!-- end education form -->




    <!-- Projects -->
    <div class="panel panel-default">

        <div class="panel-heading">
          <h1 class="panel-title">Project</h1>
          <p>Foo is king.</p>
        </div>

        <div class="panel-body">

          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">Project Name <span class="asterisk">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="new_project.name" placeholder="Project Name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Live URL <span class="asterisk">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="new_project.url" placeholder="Live URL if available">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">GitHub URL <span class="asterisk">*</span></label>
              <div class="col-sm-9">
                <input type="url" class="form-control" ng-model="new_project.githubUrl" placeholder="GitHub URL">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Short Pitch <span class="asterisk">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="new_project.pitch" placeholder="Select Image">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Tech Stack Tags </label>
              <div class="col-sm-9">
                <textarea ng-model="project.tech_tags" rows="5" class="form-control" placeholder="Comma Separated Values... like 'Angular, Node.js, Express'"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Description <span class="asterisk">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="new_project.description" placeholder="Describe your project">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Your Role <span class="asterisk">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="new_project.role" placeholder="Front End Developer, Backend, Scraping....">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Images <span class="asterisk">*</span></label>
              <div class="col-sm-9">
                <input type="file" class="form-control" ng-model="new_project.images" placeholder="Select Image">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Video <span class="asterisk">*</span></label>
              <div class="col-sm-9">
                <input type="file" class="form-control" ng-model="new_project.video" placeholder="Video">
              </div>
            </div>
            <a href="" ng-click="addProject()" class="delete-row"><i class="fa fa-plus"></i></a>

          </div>

        </div><!-- panel-body -->
        <div ng-repeat="project in user.projects" class="panel-body">
          <h1>[[ project.name ]]</h1>
          <a href="[[ project.githubUrl ]]">[[ project.githubUrl ]]</a>
<!--          <img ng-repeat="img in user.projects.images" src="[[ project.images ]]" class="img-responsive"> -->
          <p>[[ project.description ]]</p>
          <h3>[[ project.pitch ]]</h3>
          <h6 ng-repeat="tag in project.tags">[[ tag ]]</h6>
          <a href="" ng-click="removeObj(project, user.projects, Project)" class="delete-row"><i class="fa fa-trash-o"></i></a>
        </div>

    </div><!-- panel -->
    <!-- end projects form -->


    <!-- modal -->
      <div class="modal fade" id="filepickerModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div id="modalContent">
                <iframe id="filepickerFrame"></iframe>
              </div>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    <!-- end modal -->
  </div>
</div>
{% endblock %}
