{% extends 'layouts/theme.html' %}


{% block content %}

<div class='mini-profile'>
  <div class='info'>
    <img class='profile-img' src="{{developer.linkedin.pictureUrl}}" />
    <h3 class='mini-header'>{{developer.name}}</h3>
    <h4 class='extra-info'>{{developer.location}} 
			{% if developer.relocate %}
	    	<span class='mini-profile-span'>Willing to relocate</span>
			{% else %}
	    	<span class='mini-profile-span'>Not Willing to relocate</span>
			{% endif %}
    </h4>

    {% if developer.skills_list().length > 0 %}
    	<p class='skills'>{{ developer.skills_list() }}</p>
    {% endif %}

    {% if developer.resume %}
	    <p>
	    	<a class="resume-link" href="{{developer.resume}}"><span class="fa fa-file-text"></span> Resume</a>
	    </p>
    {% endif %}

    <p>
	    <a class="btn btn-success" id="follow">
	      <i class="fa fa-check-circle-o"></i> I'm interested
	    </a>
    </p>

    {% if developer._id.toString() === user._id.toString() %}

    	<p><a href="/profile/edit" class="btn btn-warning">Edit My Profile</a></p>
	  {% endif %}
  </div>
</div>
<!-- space for sidebar -->
<div class="col-sm-3">

</div>
<!-- /end space for sidebar -->

<!-- content panel -->
<div class="col-sm-9" style="padding-left:20px">
	{% if developer.video_url %}
	<div class="video-container"><!-- fix for video responsive container -->
		<iframe id="userVid" width="725" height="480" src="//www.youtube.com/embed/HyophYBP_w4?autoplay=0&controls=0&showinfo=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
	</div>
	{% endif %}
	<div class="text-muted"><h3 class='headings' style="margin-top:0px">ABOUT</h3></div>
	<div class="panel panel-default panel-timeline">
			<div class="media white-bg">
				<div class="media-body">
					<h1 class='header'>{{developer.name}}</h1>
					<div class="panel-body">
						<h4>New York, NY 
						{% if developer.relocate %}
							<span class='relocate'><span class="fa fa-check"></span> Willing to relocate</span>
						{% else %}
							<span class='relocate'><span class="fa fa-ban"></span> Not Willing to relocate</span>
						{% endif %}
						</h4>
						<h4 id='description'>{{developer.linkedin.headline}}</h4>
						<p class="summary">{{developer.linkedin.summary}}</p>
					</div>
				</div>
			</div>
	</div>

	<div class="text-muted"><h3 class='headings'>PROJECTS</h3></div>

<!-- insert PROJECT panels swig for loop BEGIN here -->
	{% for index, project in developer.projects %}
	<div class="panel panel-default panel-timeline">
		<div class="panel-heading">
			<div class="media">
				<div class="media-body">
					<div class="panel-body">
						<div class="media white-bg">
								<img alt="" src="holder.js/150x150" class="media-object pull-left">
								<div class="media-body">
									<h4><a href="">{{project.name}}</a></h4>
									<h5><strong>{{ project.pitch }}</strong></h5>
									<p>{{ project.description }}</p>
								</div>
							</div>
							<div class="timeline-btns">
								<div class="pull-left">
									<small class="text-muted">FRONT END DEVELOPER</small>
								</div>
								<div class="pull-right">
									<small class="text-muted">{{ project.tags.join(", ") }}</small>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}

<!-- insert PROJECTS swig for loop END here  -->

<div class="text-muted"><h3 class='headings'>WORK EXPERIENCE</h3></div>

<!-- insert WORK EXPERIENCE swig for loop BEGIN here  -->

	<div class="panel panel-default panel-timeline">
		<div class="panel-heading">
			<div class="media">
				<div class="media-body">
					<div class="panel-body">
						<div class="media white-bg">
								<div class="media-body">
									<h4>HireFullStack</h4>
									<h5><strong>Junior JavaScript Developer</strong></h5>
									<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
							<div class="timeline-btns">
								<div>
									<small class="text-muted">Bonus info: I beat Migi in ping pong all day every day.</small>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- insert WORK EXPERIENCE swig for END loop here -->

<div class="text-muted"><h3 class='headings'>EDUCATION</h3></div>

<!-- insert EDUCATION swig loop BEGIN here -->

	<div class="panel panel-default panel-timeline">
		<div class="panel-heading">
			<div class="media">
				<div class="media-body">
					<div class="panel-body">
						<div class="media white-bg">
								<div class="media-body">
									<h4>FullStack Academy of Code</h4>
									<h5><strong>Learning to be a fullstack developer</strong></h5>
									<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
							<div class="timeline-btns">
								<div>
									<small class="text-muted">Bonus info: Root Beer is gross.</small>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- insert EDUCATION swig loop END here -->


</div>

<!-- end content panel -->
{% endblock %}

{% block js_footer %}
<script type="text/javascript">

jQuery(document).ready(function() {
	jQuery('#follow').click(function(){
		jQuery.ajax({
			url:'/addfavorite',
			type: 'POST',
			async: true,
		})
  });
});
</script>
{% endblock %}