<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">

  <title>Profile</title>
	{% include '../includes/head.html' %}

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="fixed fixed-noleft">

<section>


  <!-- Main Panel -->
  <div class="mainpanel">

  	<!-- Pageheader -->
    <div class="pageheader">
    	{% block pageheader %}{% endblock %}
    </div>
    <!-- end pageheader -->

    <!-- Content Panel -->
    <div class="contentpanel">
  		{% block content %}{% endblock %}
    </div>
    <!-- end content panel -->
  </div>
  <!-- end main panel -->

</section>

{% include '../includes/foot.html' %}
{% block js_footer %}{% endblock %}

</body>
</html>
